<style>
  video{
    height: 100%;
    width: 100%;
    /* position: absolute; */
    object-fit: cover;
    background-position: center;
  }
  
  #custom-svg-mask {
    font-size:3em;
    text-transform:uppercase;
    overflow-wrap: break-word;
    position:absolute;
    top:5%;
  }

  #custom-svg-mask rect{
    fill: #FFF;
    mask:url(#mask)
  }

  #custom-svg-mask text {
    font-weight:900;
  }

  .text-overlay-block {
    height:100%;
    width:100%;
    font-weight:900;
    position:absolute;
    background:#000;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:6rem;
    mix-blend-mode:multiply;
    top:0;
    line-height:.8;
    text-align:center;
  }

  .text-overlay-block h1 {
    height:100%;
  }

</style>

<div style="height:70vh; width:100%; position:relative;">

    <video autoplay playsinline muted loop preload>
      <source src="{{ section.settings.video_source }}"/>
    </video>

  <div class="text-overlay-block">
    <h1>SO THE DOERS CAN DO.</h1>
  </div>

  {% comment %}
    <svg id="custom-svg-mask" height="100%" width="100%">
      <defs>
        <mask id="mask" x="0" y="0" height="100%" width="100%">
          <rect x="0" y="0" height="100%" width="100%" />
            <text y="1em" fill="red">SO THE</text>
            <text y="2em" fill="red">DOERS</text>
            <text y="3em" fill="red">CAN DO</text>
         
        </mask>
      </defs>
            <rect x="0" y="0" height="100%" width="100%" />
    </svg>
  {% endcomment %}
</div>
  
{% schema %}
{
  "name": "Video Hero Section",
  "settings": [
    {
      "type": "text",
      "label": "Video Source (MP4)",
      "id": "video_source",
      "default": "#",
      "info": "Enter the video URL for the background and popup modal. Works with Shopify hosted MP4s."
    }
  ],
  "presets": [
    {
      "name": "Video Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}