<style>
  video{
    height: 100%;
    width: 100%;
    /* position: absolute; */
    object-fit: cover;
    background-position: center;
  }
  
  #custom-svg-mask {
    font-size:3em;
    text-transform:uppercase;
    overflow-wrap: break-word;
    position:absolute;
    top:5%;
  }

  #custom-svg-mask rect{
    fill: #FFF;
    mask:url(#mask)
  }

  #custom-svg-mask text {
    font-weight:900;
  }

  .content-block {
    height:100%;
    position:absolute;
    top:0;
    width:100%;
  }

  .text-overlay-block {
    /*height:100%;*/
    height:70%;
    width:100%;
    font-weight:900;
    /*position:absolute;*/
    background:#000;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:6.4rem;
    top:0;
    mix-blend-mode:multiply;
    line-height:.9;
    text-align:center;
    flex-direction:column;
    letter-spacing:-10px;
  }

  .text-overlay-block h1 {
    height:100%;
    margin:0;
    display:flex;
    align-items:center;
  }
  .custom-btn-container{
    height:20%;
    background:#000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
  }

  .shipping-text{
    height:10%;
  }

</style>

<div style="height:70vh; width:100%; position:relative;">

    <video autoplay playsinline muted loop preload>
      <source src="{{ section.settings.video_source }}"/>
    </video>

  <div class="content-block">
     <div class="shipping-text">
        <a href="/policies/shipping-policy">        
            <img src="//thetrailerpartsoutlet.com/cdn/shop/files/Untitled-2_32cddabe-28de-41e3-b107-6ba1c20b3c7f_small.png?v=1689832289" alt="Delivery Truck Icon" width="50px">
            <span><b>All orders placed before 12PM CST ship next day (</b> <span style="color:#FFFFFF">some exclusions apply</span> <b>)</b></span>        
        </a>
      </div>
    <div class="text-overlay-block">
      <h1>SO THE DOERS CAN DO.</h1>
    </div>
    <div class="custom-btn-container">
      <div>
        <button>TEST</button>
        <button>TEST</button>
      </div>
       
      </div>
  </div>
  {% comment %}
    <svg id="custom-svg-mask" height="100%" width="100%">
      <defs>
        <mask id="mask" x="0" y="0" height="100%" width="100%">
          <rect x="0" y="0" height="100%" width="100%" />
            <text y="1em" fill="red">SO THE</text>
            <text y="2em" fill="red">DOERS</text>
            <text y="3em" fill="red">CAN DO</text>
         
        </mask>
      </defs>
            <rect x="0" y="0" height="100%" width="100%" />
    </svg>
  {% endcomment %}
</div>
  
{% schema %}
{
  "name": "Video Hero Section",
  "settings": [
    {
      "type": "text",
      "label": "Video Source (MP4)",
      "id": "video_source",
      "default": "#",
      "info": "Enter the video URL for the background and popup modal. Works with Shopify hosted MP4s."
    }
  ],
  "presets": [
    {
      "name": "Video Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}