/* --- Style Overrides for the Tip Quick Widget --- */
#tipQuikModalClose {
  background:black;
  padding: 5px 20px;
}

div.tj-modal-header {
  padding:0px;
}

h3.tj-modal-title {
  margin:0px;
  font-size: 1.5em;
}

p.tj-modal-description {
  font-size: 1.2em;
  margin:9px 0px;
}

span.tj-modal-btn-wrapper, span.tj-modal-btn-none{
  margin: 6px 0px;
}

button.tj-modal-btn {
  padding: 6px 0px;
}

div.tj-modal-content {
  padding: 12px 16px;
}
/* --- Style Overrides for the Tip Quick Widget --- */

/* --- Override for Magic Zoom --- */
#magic-zoom-plus-block{
  position:sticky;
  top:50px;
}
/* ---Override for Magic Zoom --- */
/* --- General Style Cusomizations --- */
.cart-drawer-call-expert-phone{
  margin:auto;
}

.details-link {
  text-decoration: underline;
  font-weight:400;
  cursor:pointer;
  margin:0px;
}

.cart-drawer-properties {
  max-height:0px;
  opacity:0%;
  transition: all .3s ease-in-out;
  margin:0px;
}

.cart-drawer-properties.custom-open {
  max-height:1000px;
  opacity:1;
  margin-top:1rem;
} 

.cart-button-container {
  display:flex;
  gap: 5px;
  width:33%;
}

.cart-button-container-mobile{
  display:none;
}

.cart-itemn-border {
  position: relative;
}

.cbc-mobile{
  display:none;
}

.spanish-speaking-snip{
    font-size: 1em;
    color:grey;
}

.language-selector{
  height:26px;
  border-radius:10px;
}

#sub-header-cta{
  display:flex; 
  justify-content:space-between; 
  align-items:center;
  font-size:.9em;
  gap:10px;
}


div.yotpo-label.yotpo-small-box {
  display:none;
}


/* ^^^ General Style Cusomizations ^^^ */

@media only screen and (min-width: 992px) {

  
.mobile-break{
  display:none;
}

  #price-message-mobile{
    display:none;
  }

  #price-message-desktop {
    display:inline-block;
    font-size: 14px; 
    margin:0 0 10px 0; 
    line-height:1;
    font-weight:normal;
  }

}



/* Main Layout Breakpoint MOBILE STYLES HERE */
@media only screen and (max-width: 992px) {
  #price-message-mobile{
    display:inline-block;
    font-size: 10px; 
    margin:0 0 10px 0; 
    line-height:1;
  }

  #price-message-desktop {
    display:none;
  }
  
  .ask-a-specialist{
    font-size: 1.2rem;
  }

  .cart-drawer-call-expert-text{
    font-size: 1.2rem;
  }

  #sub-header-cta{
  justify-content:center; 
  align-items:center;
    gap:10px;
}

  .language-selector{
  height:auto;
}

   .spanish-speaking-snip{
    font-size:.8em;
  }
  
  .cbc-mobile {
    display:flex
  }

  .section-header{
    position:sticky;
    top:0px;
  }
  
 .cart-button-container {
  display:flex;
  gap: 10px;
  width:100%;
  padding: .5em 2em;
   max-width:600px;
   margin:auto;
}

.cart-button-container-mobile{
  display:flex;
}

  button.drawer__close {
  display: inline-block;
  padding: 0;
    
  min-width:initial;
  min-height:initial;
    
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  top: 10px;
  position: absolute;
  right: -10px;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align:right;
  
}

  div.drawer__footer{
    padding:15px 0px;
  }

  button.empty-cart-close{
    position:absolute;
  }

}

div.as-aedd > div:first-child > span:first-child {
  font-size:5px!important;
}

a.custom-btn-padding {
  padding: 13px 41px 14px;
}

.custom-header-drawer-link{
  font-weight:700;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}